body {
	background-color: #F5E6FF;
}

/*pais
----------------------*/

header {
	background-color: #BB70BB;
	color:white;
	padding: 10px; /*Область между текстом и границей шапки*/
	border: solid 1px #4D0A4D;
	border-radius: 60px;
	
	
}


header h1 {
	font-family:Times New Roman;
	text-align: center;
	color:white;
	
	
}
header h3 {
	font-size: 15px;
	font-family:Times New Roman;
	text-align: center;
	margin-bottom: 20px;
	color:white;
	
}

main {
	display: flex;
	margin-top: 25px;
	flex-wrap:wrap;
}
div {
	margin-left: 15px;
	margin-right: 15px;
}
#saksa, #lati, #sveits, #kreeka, #rootsi{
	width:330px;
	height:220px;
	border-spacing: 0px;
	padding: 0px;
	border:solid 1px grey;
}

#saksa tr:nth-child(1) { /*Первый ряд*/
	background-color: black;
	height:73px;
}

#saksa tr:nth-child(2) { /*Второй ряд*/
	background-color: #8B0000;
	height:73px;
}

#saksa tr:nth-child(3) { /*Третий ряд*/
	background-color: #FFC300;
	height:73px;
}
	

#lati tr:nth-child(1) { /*Первый ряд*/
	background-color: #8B0000;
}

#lati tr:nth-child(2) { /*Второй ряд*/
	background-color: white;
	height:50px;
}

#lati tr:nth-child(3) { /*Третий ряд*/
	background-color: #8B0000;
}

#sveits{
	width:250px;
	height:250px;
	border-spacing: 0px;
	padding: 0px;
	border:solid 1px grey;
	margin-top: 30px;
}
#sveits tr:nth-child(1), #sveits tr:nth-child(5),#sveits td:nth-child(1), #sveits td:nth-child(5), #sveits tr:nth-child(2) td:nth-child(2),#sveits tr:nth-child(2) td:nth-child(4),#sveits tr:nth-child(4) td:nth-child(2),#sveits tr:nth-child(4) td:nth-child(4){
	background-color:#8B0000;
	
}

#kreeka tr:nth-child(9) ,#kreeka tr:nth-child(7) {
	background-color: #3765a1;
}

#kreeka tr:nth-child(1) td:nth-child(1),#kreeka tr:nth-child(2) td:nth-child(1), #kreeka tr:nth-child(4) td:nth-child(1),#kreeka tr:nth-child(5) td:nth-child(1) {
	background-color: #3765a1;
	width:65px;
}

#kreeka tr:nth-child(1) td:nth-child(2),#kreeka tr:nth-child(1) td:nth-child(2), #kreeka tr:nth-child(1) td:nth-child(2),#kreeka tr:nth-child(1) td:nth-child(2) {
	background-color: white;
	width: 20px;
}

#kreeka tr:nth-child(1) td:nth-child(3),#kreeka tr:nth-child(2) td:nth-child(3), #kreeka tr:nth-child(4) td:nth-child(3),#kreeka tr:nth-child(5) td:nth-child(3) {
	background-color: #3765a1;
	width:65px;
}

#kreeka tr:nth-child(1) td:nth-child(4),#kreeka tr:nth-child(3) td:nth-child(4),#kreeka tr:nth-child(5) td:nth-child(4) {
	background-color: #3765a1;
}

#rootsi tr:nth-child(1) td:nth-child(1), #rootsi tr:nth-child(3) td:nth-child(1) {
	background-color: white;
	height:73px;
	width: 70px;
	
}
	
#rootsi tr:nth-child(1) td:nth-child(2), #rootsi tr:nth-child(3) td:nth-child(2) {
	background-color: #FFC300;
	height:90px;
	width: 30px;
	
}

#rootsi tr:nth-child(1) td:nth-child(3), #rootsi tr:nth-child(3) td:nth-child(3) {
	background-color: #4F9CED;
	height:90px;
	width: 150px;
}
/*Вторая строчка*/
#rootsi tr:nth-child(2) {
	background-color:#FFC300;
	width: 80px;
	
}

#rootsi tr:nth-child(1) td:nth-child(1) {
	background-color: #4F9CED;
}

#rootsi tr:nth-child(3) td:nth-child(1) {
	background-color: #4F9CED;
}

caption {
	font-size: 25px;
	margin-bottom: 5px;
	font-weight: 700;
}


.sveits {
	margin-top: -40px;
}

footer {
	background-color: #BB70BB;
	color:white;
	padding: 10px; /*Область между текстом и границей шапки*/
	border: solid 1px #4D0A4D;
	border-radius: 60px;
	margin-top: 20px;
}
